button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
  background-color: #eef4f7;
  border-style: inset;
  border: 2px solid royalblue;
  border-radius: 25px;
  padding: 2%;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
}

#cms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.author-container {
  margin-top: 50px;
  background-color: #eef4f7;
  border-radius: 25px;
  border: 2px solid royalblue;
}

.author-list {
  margin-top: 25px;

}

.blog-container {
  margin-top: 30px;
  padding-bottom: 30px;
  background-color: #eef4f7;
  border-radius: 25px;
  border: 2px solid royalblue;
}

.blogTitle {
  text-decoration: underline;
}

.blog {
  margin-top: 8%;
}

.hidden {
  display: none;
}

#author-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 17px;
}

.listings-container {
  margin-top: 30px;
  padding-bottom: 30px;
  background-color: #eef4f7;
  border-radius: 25px;
  border: 2px solid royalblue;
}

.usda-container {
  margin-top: 30px;
  padding-bottom: 30px;
  background-color: #eef4f7;
  border-radius: 25px;
  border: 2px solid royalblue;
}

.hrData {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 3px;
}

.redBeam {
  background-color: tomato;
  opacity: .9;
  border-radius: 25px;
}

.greenBeam {
  background-color: peru;
  opacity: .9;
  border-radius: 25px;
  border: 2px solid #73AD21;
}

.blueBeam {
  background-color: burlywood;
  opacity: .9;
  border-radius: 25px;
  border: 2px solid #73AD21;
}

.ads {
  position: fixed;
  /* left: 0; */
  bottom: 0;
  background: linear-gradient(to right, #0E860E 0%, #776343 55%);
  /* text-align: right; */
}
.ads2 {
      /* position: fixed; */
    /* left: 0; */
    bottom: 0;
    background-color: #776343;
    /* text-align: left; */
  
}

.ads-internals {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  position: relative;
  animation-name: example;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  margin: 1%;
}

.ads-internals2 {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  position: relative;
  animation-name: example2;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  margin: 1%;
}
.notOptimized {
  display:none;
}

.yoNative {
  margin-top: 1em;
}
.smallYo {
  display:none;
}
.smallYo2 {
  display:none;
}
@keyframes example {
  0% {
    left: 350px;

  }

  50% {
    left: 570px;

  }

  100% {
    left: 350px;

  }
  
  
}

@keyframes example2 {
  0% {
    left: -350px;
  }

  50% {
    left: -570px;
  }

  100% {
    left: -350px;
  }
}

@media only screen and (max-width: 700px) {
  .ads-internals {
    /* animation-name: example;
    animation-duration: 0s;
    margin-left: 10px; */
    display:none;
  }

  .ads-internals2 {
    /* animation-name: example2;
    animation-duration: 0s;
    margin-right:10px; */
    display:none;  }
  .notOptimized {
    visibility: visible;
  }
  /* .yoNative {
    margin-top: 3px;
  } */
  .blogButtons {
    font-size: 13px;
  }
  .yoNative{
    display:none;  }
  .yoAustin{
    display:none;  }
  .smallYo{
    display: inherit;
    float: left;
  }
  .smallYo2{
    display: inherit;
    float: right;
  }
  /* #BackgroundVideo {} */
}



.post {
  margin: 30px;
  background-image: url("../assets/img/postVector.jpg");
  border: 0.5px solid black;
  outline: 5px solid#1B703F;
  outline-offset: 15px;
}

.headlineTitle {
  margin: 30px;
  background: rgb(218, 89, 89);
  border-style: inset;
  border-bottom: 2px solid black;
  outline-offset: 15px
}

#BackgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index:-3;
}
/* .container-fluid{
    height:100%;
    display:table;
    width: 100%;
    padding: 0;
  }
   
  .row-fluid {height: 100%; display:table-cell; vertical-align: middle;}
   
   
  
  .centering {
    float:none;
    margin:0 auto;
  } */

  /* adding pizza css */
  
.animation {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.drop1, .drop2 {
  -webkit-animation: blink 1.5s ease-out 0s infinite;
  -moz-animation: blink 1.5s ease-out 0s infinite;
  -ms-animation: blink 1.5s ease-out 0s infinite;
  -o-animation: blink 1.5s ease-out 0s infinite;
}

.drop2 {
	animation-delay: .1s;
}
@-webkit-keyframes blink {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-moz-keyframes blink {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-o-keyframes blink {
  0% { opacity: 1; }
  100% { opacity: 0; }
}